/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filtres {
	display: flex;
	justify-content: space-around;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	margin-top: 4%;
}

.button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	vertical-align: baseline;
}

.buttonSelect {
	color: white;
	background-color: #1D6154;
}

.forget-password {
	text-decoration: underline;
}

.lien-login {
	font-weight: 600;
}

a{
	color: black;
	text-decoration: none;
}

#filtres button {
	height: 37px;
}

/* mode edition login on  */
.loginOn {
	background-color: black;
	height: 59px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginOn-txt{
	padding-left: 12px;
	padding-right: 21px;
	font-size: 16px;
	font-weight: 400;
}

.loginOn-change{
	background-color: white;
	color: black;
	border-radius: 25px;
	padding: 11px 23px;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
}

.btn-edit { 
	display: flex;
	gap : 11px ; 
	padding-top: 16px;
	padding-left: 10%;
}

.btn-edit2  {
	display: flex;
	margin-left: 31px;
	gap: 10px;
	margin-top: 10px;

}

.block-btn-edit2{
	display: flex;
	justify-content: center;
}

.modal {
	position: fixed;
	display: none;
	
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.09) ;
	
}

.modal-wrapper {
	overflow: auto;
	background-color: #fff;
	width: 630px;
	height: 731px;
	border-radius: 10px;
	padding: 30px;

}

.close-modal {
	margin-left: 95%; 
	cursor: pointer;
}

.modal-title {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	padding-bottom:46px;
	padding-top: 16px;
}

/* class pour la galery dans la modal  */

#gallery-modal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin: 0 75px;
	border-bottom: 1px solid  #B3B3B3;
	padding-bottom: 35px;
}

#gallery-modal img {
	height: 104px;
	width: 78px;

}

#gallery-modal div {
	margin-bottom: 10px;
	position: relative;
}
#gallery-modal p {
	padding-top: 1px;
	font-size: 12px;
}

.btn-add-photo {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 237px;
	text-align: center;
	border-radius: 60px ;
	padding: 10px 49px 10px 49px
}

.edit-gallery-modal {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.txt-delete-gallery{
	color: #D65353;
}

.position-logo-delete {
	position: absolute;
	top:6px ;
	right: 20px;
	background-color: #000;
	color: #fff;
	font-size: 10px;
	padding: 4px;
	border-radius: 2px;
	
}


/* modal ajout photo */
#modal1{
	display: flex;
	flex-direction: column;
}

#modal2 {
	display: flex;
	display: none;
	flex-direction: column;
}

.back-modal1 {
	cursor: pointer;
	margin-top: -15px;
	height: 15px;
	width: 21px;
}

.container-modal2{
	margin-left: 105px;
	margin-right: 105px;
	padding-bottom: 47px;
	border-bottom: 1px solid #B3B3B3;
}
.box-add-photo{
	background-color: #E8F1F7;
	border-radius: 3px;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

#photoInput {
	display: none;
}

.btn-photoInput {
	color: #306685;
    background-color: #CBD6DC;
    border-radius: 50px;
    padding: 10px 33px;
}
.btn-photoInput:hover {
	cursor: pointer;
}

.logo-addphoto{
	font-size: 60px;
	padding-top: 25px;
    padding-bottom: 20px;
}

.addphoto-txt {
	padding-top: 7px;
	padding-bottom: 19px;
}

.form-addphoto{
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}

.form-label{
	margin-bottom: 10px;
	margin-top: 20px;
}

.form-size{
	height: 35px;
}

.btn-valider {
	background-color: #A7A7A7;
	color: white;
	border-radius: 60px;
	margin-top: 32px;
	width: 37%;
	padding: 10px 49px;
	border: none;
	cursor: pointer;
}

.container-btn-valider{
	display: flex;
	justify-content: center;
}
/* chargement img form */ 
.load-img{
	width: 129px;
}

/* formulaire validé  */ 
.btn-green {
	background-color: #1D6154;
	color: white;
  }